<button ng-click="gotoCategories()">Back</button>

<div class="title">
  {{category.name}}
</div>

<div class="wrapper"
  ng-repeat="task in tasks">
  <div class="bubble"
    ng-click="taskClicked(task)"
    ng-style="{'background-image': 'url('+task.image+')'}">
    <div class="label">
      {{task.name}}
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="bubble add"
    ng-click="gotoAddTaskState()">
    <div class="label">
      Add New
    </div>
  </div>
</div>

<br>
<button ng-click="edit()">Edit</button>
<button ng-click="destroyCategory()">Delete</button>
